<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title></ion-title>
	</ion-toolbar>
	<div class="banner">
		<div class="banner_img center_img">
			<img src="assets/images/blog_1.png" class="crop_img">
		</div> 

		<div class="banner_details">
			<h5 class="d-flex">What's new <span class="end">5 July, 2020</span></h5>
		</div>
	</div>
</ion-header>

<ion-content>
	<div class="container">
		<div class="event_detail">
			<h2>Mobile employee self-service.</h2> 
		</div>
		<p>
			Berikan akses lebih mudah untuk layanan HR langsung ke smartphone karyawan. 
			Klaim, pengajuan izin dan lembur, akses ke benefit karyawan, slip gaji, hingga reimbursement/cash advance. 
			Di mana saja kapan saja, tanpa batas, berikan pengalaman terbaik WFH pada karyawan Anda.

		</p>
		<p>
			Kami memahami bahwa pengelolaan HR saat bekerja dari rumah tidaklah mudah. 
			Kami hadir dengan berbagai automasi yang mendukung akses mobile terhadap penyediaan layanan HR ke karyawan. 
			Mulai dari mobile employee-self service, health check survey, employee task manager, dan announcemnet langsung di aplikasi.

		</p>
		<p>
			Dapatkan rekap harian untuk memonitor secara keseluruhan kondisi kesehatan karyawan Anda dengan laporan yang dikirim melalui email. 
			Karyawan dapat mengisi survei langsung dari aplikasi dan mendapatkan hasil asesmennya secara langsung.

		</p>
	</div>
</ion-content>