ion-header {
	ion-toolbar {
		position: absolute;
		z-index: 999;
		width: 100%;
		
	}
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 56px;
		background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
		z-index: 9;
		opacity: .8;
	}

	.banner {
		position: relative;
		overflow: hidden;
		height: 265px;

		.banner_img {
			width: 100%;
			height: 235px;

		}

		.event_logo {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 170px;
			height: 100px;
			margin: auto;
			z-index: 11;
			overflow: hidden;
		}

		.banner_details {
			position: absolute;
			width: 100%;
			left: 9;
			bottom: 0;
			background: var(--white);
			border-radius: 10px 10px 0 0;
			border-bottom: 1px solid var(--bg-color);
			z-index: 92;
			padding: 15px 20px;

			h5 {
				margin: 0;
				font-size: 1rem;
				font-weight: 400;

			}


		}
	}
}

.container {
	padding: 0 20px;

	.event_detail {
		padding: 13px 0; 

		h2 {
			margin: 0;
			font-size: 1.35rem;
			color: var(--text-black);
			margin-bottom: 10px;
		}

		h3 {
			margin: 0;
			color: var(--text-dark);
			font-size: .95rem;
			font-weight: 400;
		}
	}

	p {
		margin: 0;
		font-size: .95rem;
		margin-bottom: 22px;
	}
}