<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>News & Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>26, March 2020</ion-card-subtitle>
      <ion-card-title>Libur Bersama</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Libur bersama Hari Raya Idul Fitri akan dimulai pada 15 Mei 2020 sd 20 Mei 2020. 
      Cuti tahunan akan dipotong sebanyak 3 hari.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>20, March 2020</ion-card-subtitle>
      <ion-card-title>Tunjangan Hari Raya</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Tunjangan Hari Raya Idul Fitri 2020 akan diberikan pada tanggal 10 Mei 2020.
    </ion-card-content>
  </ion-card>
</ion-content>
