# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
__src/app/about/about-routing.module.ts
__src/app/about/about.module.ts
__src/app/about/about.page.html
__src/app/about/about.page.scss
__src/app/about/about.page.spec.ts
__src/app/about/about.page.ts
__src/app/add-family-member/add-family-member-routing.module.ts
__src/app/add-family-member/add-family-member.module.ts
__src/app/add-family-member/add-family-member.page.html
__src/app/add-family-member/add-family-member.page.scss
__src/app/add-family-member/add-family-member.page.spec.ts
__src/app/add-family-member/add-family-member.page.ts
__src/app/blood-donation/blood-donation-routing.module.ts
__src/app/blood-donation/blood-donation.module.ts
__src/app/blood-donation/blood-donation.page.html
__src/app/blood-donation/blood-donation.page.scss
__src/app/blood-donation/blood-donation.page.spec.ts
__src/app/blood-donation/blood-donation.page.ts
__src/app/blood-doners/blood-doners-routing.module.ts
__src/app/blood-doners/blood-doners.module.ts
__src/app/blood-doners/blood-doners.page.html
__src/app/blood-doners/blood-doners.page.scss
__src/app/blood-doners/blood-doners.page.spec.ts
__src/app/blood-doners/blood-doners.page.ts
__src/app/chats/chats-routing.module.ts
__src/app/chats/chats.module.ts
__src/app/chats/chats.page.html
__src/app/chats/chats.page.scss
__src/app/chats/chats.page.spec.ts
__src/app/chats/chats.page.ts
__src/app/community-info/community-info-routing.module.ts
__src/app/community-info/community-info.module.ts
__src/app/community-info/community-info.page.html
__src/app/community-info/community-info.page.scss
__src/app/community-info/community-info.page.spec.ts
__src/app/community-info/community-info.page.ts
__src/app/complete-profile/complete-profile-routing.module.ts
__src/app/complete-profile/complete-profile.module.ts
__src/app/complete-profile/complete-profile.page.html
__src/app/complete-profile/complete-profile.page.scss
__src/app/complete-profile/complete-profile.page.spec.ts
__src/app/complete-profile/complete-profile.page.ts
__src/app/contact-us/contact-us-routing.module.ts
__src/app/contact-us/contact-us.module.ts
__src/app/contact-us/contact-us.page.html
__src/app/contact-us/contact-us.page.scss
__src/app/contact-us/contact-us.page.spec.ts
__src/app/contact-us/contact-us.page.ts
__src/app/conversation/conversation-routing.module.ts
__src/app/conversation/conversation.module.ts
__src/app/conversation/conversation.page.html
__src/app/conversation/conversation.page.scss
__src/app/conversation/conversation.page.spec.ts
__src/app/conversation/conversation.page.ts
__src/app/create-post/create-post-routing.module.ts
__src/app/create-post/create-post.module.ts
__src/app/create-post/create-post.page.html
__src/app/create-post/create-post.page.scss
__src/app/create-post/create-post.page.spec.ts
__src/app/create-post/create-post.page.ts
__src/app/directory/directory-routing.module.ts
__src/app/directory/directory.module.ts
__src/app/directory/directory.page.html
__src/app/directory/directory.page.scss
__src/app/directory/directory.page.spec.ts
__src/app/directory/directory.page.ts
__src/app/events/events-routing.module.ts
__src/app/events/events.module.ts
__src/app/events/events.page.html
__src/app/events/events.page.scss
__src/app/events/events.page.spec.ts
__src/app/events/events.page.ts
__src/app/feed-posts/feed-posts-routing.module.ts
__src/app/feed-posts/feed-posts.module.ts
__src/app/feed-posts/feed-posts.page.html
__src/app/feed-posts/feed-posts.page.scss
__src/app/feed-posts/feed-posts.page.spec.ts
__src/app/feed-posts/feed-posts.page.ts
__src/app/home/home-routing.module.ts
__src/app/home/home.module.ts
__src/app/home/home.page.html
__src/app/home/home.page.scss
__src/app/home/home.page.spec.ts
__src/app/home/home.page.ts
__src/app/matrimonialpopup/matrimonialpopup-routing.module.ts
__src/app/matrimonialpopup/matrimonialpopup.module.ts
__src/app/matrimonialpopup/matrimonialpopup.page.html
__src/app/matrimonialpopup/matrimonialpopup.page.scss
__src/app/matrimonialpopup/matrimonialpopup.page.spec.ts
__src/app/matrimonialpopup/matrimonialpopup.page.ts
__src/app/matrimony/matrimony-routing.module.ts
__src/app/matrimony/matrimony.module.ts
__src/app/matrimony/matrimony.page.html
__src/app/matrimony/matrimony.page.scss
__src/app/matrimony/matrimony.page.spec.ts
__src/app/matrimony/matrimony.page.ts
__src/app/matrimony-about/matrimony-about-routing.module.ts
__src/app/matrimony-about/matrimony-about.module.ts
__src/app/matrimony-about/matrimony-about.page.html
__src/app/matrimony-about/matrimony-about.page.scss
__src/app/matrimony-about/matrimony-about.page.spec.ts
__src/app/matrimony-about/matrimony-about.page.ts
__src/app/matrimony-profile/matrimony-profile-routing.module.ts
__src/app/matrimony-profile/matrimony-profile.module.ts
__src/app/matrimony-profile/matrimony-profile.page.html
__src/app/matrimony-profile/matrimony-profile.page.scss
__src/app/matrimony-profile/matrimony-profile.page.spec.ts
__src/app/matrimony-profile/matrimony-profile.page.ts
__src/app/my-profile/my-profile-routing.module.ts
__src/app/my-profile/my-profile.module.ts
__src/app/my-profile/my-profile.page.html
__src/app/my-profile/my-profile.page.scss
__src/app/my-profile/my-profile.page.spec.ts
__src/app/my-profile/my-profile.page.ts
__src/app/near-you/near-you-routing.module.ts
__src/app/near-you/near-you.module.ts
__src/app/near-you/near-you.page.html
__src/app/near-you/near-you.page.scss
__src/app/near-you/near-you.page.spec.ts
__src/app/near-you/near-you.page.ts
__src/app/notifications/notifications-routing.module.ts
__src/app/notifications/notifications.module.ts
__src/app/notifications/notifications.page.html
__src/app/notifications/notifications.page.scss
__src/app/notifications/notifications.page.spec.ts
__src/app/notifications/notifications.page.ts
__src/app/past-event/past-event-routing.module.ts
__src/app/past-event/past-event.module.ts
__src/app/past-event/past-event.page.html
__src/app/past-event/past-event.page.scss
__src/app/past-event/past-event.page.spec.ts
__src/app/past-event/past-event.page.ts
__src/app/select-relation/select-relation-routing.module.ts
__src/app/select-relation/select-relation.module.ts
__src/app/select-relation/select-relation.page.html
__src/app/select-relation/select-relation.page.scss
__src/app/select-relation/select-relation.page.spec.ts
__src/app/select-relation/select-relation.page.ts
__src/app/set-preference/set-preference-routing.module.ts
__src/app/set-preference/set-preference.module.ts
__src/app/set-preference/set-preference.page.html
__src/app/set-preference/set-preference.page.scss
__src/app/set-preference/set-preference.page.spec.ts
__src/app/set-preference/set-preference.page.ts
__src/app/sign-in/sign-in-routing.module.ts
__src/app/sign-in/sign-in.module.ts
__src/app/sign-in/sign-in.page.html
__src/app/sign-in/sign-in.page.scss
__src/app/sign-in/sign-in.page.spec.ts
__src/app/sign-in/sign-in.page.ts
__src/app/tabs/tabs-routing.module.ts
__src/app/tabs/tabs.module.ts
__src/app/tabs/tabs.page.html
__src/app/tabs/tabs.page.scss
__src/app/tabs/tabs.page.spec.ts
__src/app/tabs/tabs.page.ts
__src/app/upcoming-event/upcoming-event-routing.module.ts
__src/app/upcoming-event/upcoming-event.module.ts
__src/app/upcoming-event/upcoming-event.page.html
__src/app/upcoming-event/upcoming-event.page.scss
__src/app/upcoming-event/upcoming-event.page.spec.ts
__src/app/upcoming-event/upcoming-event.page.ts
__src/app/user-profile/user-profile-routing.module.ts
__src/app/user-profile/user-profile.module.ts
__src/app/user-profile/user-profile.page.html
__src/app/user-profile/user-profile.page.scss
__src/app/user-profile/user-profile.page.spec.ts
__src/app/user-profile/user-profile.page.ts
__src/images/2.png
__src/images/amanda_1.png
__src/images/bella_1.png
__src/images/bella_2.png
__src/images/bernadette_1.png
__src/images/bernadette_2.png
__src/images/bg.png
__src/images/blog_1.png
__src/images/camera.png
__src/images/event_banner.png
__src/images/header_logo_1.png
__src/images/header_logo.png
__src/images/ic_call.png
__src/images/ic_camera.png
__src/images/ic_chat.png
__src/images/ic_chats_active.png
__src/images/ic_chats.png
__src/images/ic_comment.png
__src/images/ic_feeds_active.png
__src/images/ic_feeds.png
__src/images/ic_heart_active.png
__src/images/ic_heart.png
__src/images/ic_home_active.png
__src/images/ic_home.png
__src/images/ic_notif_active.png
__src/images/ic_notif.png
__src/images/ic_profile_active.png
__src/images/ic_profile.png
__src/images/ic_save.png
__src/images/ic_saved.png
__src/images/ic_search.png
__src/images/ic_send.png
__src/images/ic_share.png
__src/images/logo_1.png
__src/images/logo.png
__src/images/map.png
__src/images/photo.png
__src/images/video.png
_backup/human-resource/human-resources.module.ts
_backup/human-resource/employee-attendance/attendance-routing.module.ts
_backup/human-resource/employee-attendance/attendance.module.ts
_backup/human-resource/employee-attendance/attendance.page.html
_backup/human-resource/employee-attendance/attendance.page.scss
_backup/human-resource/employee-attendance/attendance.page.ts
_backup/human-resource/employee-attendance/attendance.service.ts
_backup/human-resource/employee-attendance-sehats/attendance-recognition/attendance-recognition-routing.module.ts
_backup/human-resource/employee-attendance-sehats/attendance-recognition/attendance-recognition.module.ts
_backup/human-resource/employee-attendance-sehats/attendance-recognition/attendance-recognition.page.html
_backup/human-resource/employee-attendance-sehats/attendance-recognition/attendance-recognition.page.scss
_backup/human-resource/employee-attendance-sehats/attendance-recognition/attendance-recognition.page.ts
_backup/human-resource/employee-attendance-sehats/attendance-recognition/attendance-recognition.service.ts
_backup/human-resource/employee-attendance-sehats/attendance-sehat/attendance-sehat-routing.module.ts
_backup/human-resource/employee-attendance-sehats/attendance-sehat/attendance-sehat.module.ts
_backup/human-resource/employee-attendance-sehats/attendance-sehat/attendance-sehat.page.html
_backup/human-resource/employee-attendance-sehats/attendance-sehat/attendance-sehat.page.scss
_backup/human-resource/employee-attendance-sehats/attendance-sehat/attendance-sehat.page.ts
_backup/human-resource/employee-attendance-sehats/attendance-sehat/attendance-sehat.service.ts
_backup/human-resource/employee-holidays/holiday.service.ts
_backup/human-resource/employee-leaves/leave-routing.module.ts
_backup/human-resource/employee-leaves/leave.module.ts
_backup/human-resource/employee-leaves/leave.page.html
_backup/human-resource/employee-leaves/leave.page.scss
_backup/human-resource/employee-leaves/leave.page.ts
_backup/human-resource/employee-leaves/leave.service.ts
_backup/human-resource/employee-leaves/leave-detail/leave-detail-routing.module.ts
_backup/human-resource/employee-leaves/leave-detail/leave-detail.module.ts
_backup/human-resource/employee-leaves/leave-detail/leave-detail.page.html
_backup/human-resource/employee-leaves/leave-detail/leave-detail.page.scss
_backup/human-resource/employee-leaves/leave-detail/leave-detail.page.ts
_backup/human-resource/employee-leaves/leave-detail-modal/leave-detail-modal-routing.module.ts
_backup/human-resource/employee-leaves/leave-detail-modal/leave-detail-modal.module.ts
_backup/human-resource/employee-leaves/leave-detail-modal/leave-detail-modal.page.html
_backup/human-resource/employee-leaves/leave-detail-modal/leave-detail-modal.page.scss
_backup/human-resource/employee-leaves/leave-detail-modal/leave-detail-modal.page.ts
_backup/human-resource/employee-overtimes/overtime-routing.module.ts
_backup/human-resource/employee-overtimes/overtime.module.ts
_backup/human-resource/employee-overtimes/overtime.page.html
_backup/human-resource/employee-overtimes/overtime.page.scss
_backup/human-resource/employee-overtimes/overtime.page.ts
_backup/human-resource/employee-overtimes/overtime.service.ts
_backup/human-resource/employee-overtimes/add-employee/add-employee-routing.module.ts
_backup/human-resource/employee-overtimes/add-employee/add-employee.module.ts
_backup/human-resource/employee-overtimes/add-employee/add-employee.page.html
_backup/human-resource/employee-overtimes/add-employee/add-employee.page.scss
_backup/human-resource/employee-overtimes/add-employee/add-employee.page.ts
_backup/human-resource/employee-overtimes/overtime-detail/overtime-detail-routing.module.ts
_backup/human-resource/employee-overtimes/overtime-detail/overtime-detail.module.ts
_backup/human-resource/employee-overtimes/overtime-detail/overtime-detail.page.html
_backup/human-resource/employee-overtimes/overtime-detail/overtime-detail.page.scss
_backup/human-resource/employee-overtimes/overtime-detail/overtime-detail.page.ts
_backup/human-resource/employee-overtimes/overtime-detail-modal/overtime-detail-modal-routing.module.ts
_backup/human-resource/employee-overtimes/overtime-detail-modal/overtime-detail-modal.module.ts
_backup/human-resource/employee-overtimes/overtime-detail-modal/overtime-detail-modal.page.html
_backup/human-resource/employee-overtimes/overtime-detail-modal/overtime-detail-modal.page.scss
_backup/human-resource/employee-overtimes/overtime-detail-modal/overtime-detail-modal.page.ts
_backup/human-resource/employee-payrolls/payroll-routing.module.ts
_backup/human-resource/employee-payrolls/payroll.module.ts
_backup/human-resource/employee-payrolls/payroll.page.html
_backup/human-resource/employee-payrolls/payroll.page.scss
_backup/human-resource/employee-payrolls/payroll.page.ts
_backup/human-resource/employee-payrolls/payroll.service.ts
_backup/human-resource/employee-payrolls/payroll-detail/payroll-detail-routing.module.ts
_backup/human-resource/employee-payrolls/payroll-detail/payroll-detail.module.ts
_backup/human-resource/employee-payrolls/payroll-detail/payroll-detail.page.html
_backup/human-resource/employee-payrolls/payroll-detail/payroll-detail.page.scss
_backup/human-resource/employee-payrolls/payroll-detail/payroll-detail.page.ts
_backup/learning-management-system/learning-management-system.module.ts
_backup/learning-management-system/employee-course/course-routing.module.ts
_backup/learning-management-system/employee-course/course.module.ts
_backup/learning-management-system/employee-course/course.page.html
_backup/learning-management-system/employee-course/course.page.scss
_backup/learning-management-system/employee-course/course.page.ts
_backup/learning-management-system/employee-course/course.service.ts
_backup/learning-management-system/employee-course/course-detail/course-detail-routing.module.ts
_backup/learning-management-system/employee-course/course-detail/course-detail.module.ts
_backup/learning-management-system/employee-course/course-detail/course-detail.page.html
_backup/learning-management-system/employee-course/course-detail/course-detail.page.scss
_backup/learning-management-system/employee-course/course-detail/course-detail.page.ts
_backup/learning-management-system/employee-file/file-routing.module.ts
_backup/learning-management-system/employee-file/file.module.ts
_backup/learning-management-system/employee-file/file.page.html
_backup/learning-management-system/employee-file/file.page.scss
_backup/learning-management-system/employee-file/file.page.ts
_backup/learning-management-system/employee-file/file.service.ts
_backup/store/enums/approval-status.ts
_backup/store/enums/attendance-status.ts
_backup/store/enums/blood-type.ts
_backup/store/enums/DaysOfWeek.ts
_backup/store/enums/education.ts
_backup/store/enums/employee-change-type.ts
_backup/store/enums/employee-status.ts
_backup/store/enums/gender.ts
_backup/store/enums/index.ts
_backup/store/enums/leave-detail-status.ts
_backup/store/enums/leave-status.ts
_backup/store/enums/leave-type.ts
_backup/store/enums/marital.ts
_backup/store/enums/nationality.ts
_backup/store/enums/notification-type.ts
_backup/store/enums/overtime-status.ts
_backup/store/enums/overtime-type.ts
_backup/store/enums/ptkp.ts
_backup/store/enums/relationship.ts
_backup/store/enums/religion.ts
_backup/store/enums/WorkDays.ts
_backup/store/models/attachment.ts
_backup/store/models/attendance-create-update-dto.ts
_backup/store/models/attendance-dto.ts
_backup/store/models/company.model.ts
_backup/store/models/constants.model.ts
_backup/store/models/country.model.ts
_backup/store/models/customer.model.ts
_backup/store/models/department.model.ts
_backup/store/models/employee-attendance-request.model.ts
_backup/store/models/employee-attendance.model.ts
_backup/store/models/employee-leave-detail.model.ts
_backup/store/models/employee-leave.model.ts
_backup/store/models/employee-notification.model.ts
_backup/store/models/employee-overtime.model.ts
_backup/store/models/employee-request-change.model.ts
_backup/store/models/employee.model.ts
_backup/store/models/employeeAttendanceRecognitions.ts
_backup/store/models/employeeAttendanceSehats.ts
_backup/store/models/holiday.model.ts
_backup/store/models/index.ts
_backup/store/models/job-position.model.ts
_backup/store/models/job-title.model.ts
_backup/store/models/leave-create-update-dto.ts
_backup/store/models/leave-dto.ts
_backup/store/models/leave-status.ts
_backup/store/models/leave-type.ts
_backup/store/models/overtime-detail.model.ts
_backup/store/models/sales-activity.model.ts
_backup/store/models/sales-person.model.ts
_backup/store/services/attendance.service.ts
_backup/store/services/leave.service.ts
_backup/store/services/overtime.service.ts
_backup/store/services/timesheet.service.ts
_apk/nayati-app-101d.apk
_apk/nayati-app-102d.apk
_apk/nayati-app-103d.apk
_apk/nayati-app-104d.apk
_apk/nayati-app-105d.apk
_apk/nayati-app-106d.apk
_apk/nayati-app-107d.apk
_apk/saleskoo-pro-101.apk
