<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>{{'forgot_password' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<ion-list lines="none">
		<ion-item>
			<div class="item_container isLate">
				<div class="notification_details">
					<h2>
            {{'message_forgot_password' | translate}}
          </h2>
					<h3></h3>					
        </div>
        
        <form [formGroup]="form">
          <div class="form">
            <ion-list lines="none">
              <ion-item lines="none">
                <ion-label position="stacked">Email *</ion-label>
                <ion-input placeholder="{{'enter_email_address' | translate}}" type="email" formControlName="email" ></ion-input>
              </ion-item>
  
              <div class="ion-padding ion-text-center">
                <ion-button size="large" class="btn block"  [disabled]="!form.valid" (click)="submit()">Submit</ion-button>
              </div>
            </ion-list>
          </div>
        </form>
			</div>
		</ion-item>
	</ion-list>

</ion-content>

