<div class="scroll_container">
  <div class="item_srcoll">
    <div class="img_box center_img">
      <img src="assets/images/banner_1.png" class="crop_img icon_img">
    </div>
  </div>
  <div class="item_srcoll">
    <div class="img_box center_img">
      <img src="assets/images/banner_1.png" class="crop_img icon_img">
    </div>
  </div>
  <!-- <div class="item_srcoll">
    <div class="img_box center_img">
      <img src="assets/images/banner_1.png" class="crop_img icon_img">
    </div>
  </div>
  <div class="item_srcoll">
    <div class="img_box center_img">
      <img src="assets/images/banner_1.png" class="crop_img icon_img">
    </div>
  </div>
  <div class="item_srcoll">
    <div class="img_box center_img">
      <img src="assets/images/banner_1.png" class="crop_img icon_img">
    </div>
  </div>
  <div class="item_srcoll">
    <div class="img_box center_img">
      <img src="assets/images/banner_1.png" class="crop_img icon_img">
    </div>
  </div> -->
</div>
