ion-header {
	.banner {
		ion-row {
			align-items: center !important;

			ion-col {

				.banner_img {
					position: relative;
					width: 110px;
					margin: 0 auto;
					border-radius: 50%;

					img {
						width: 110px;
						margin: 0 auto;
						display: block;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

ion-content {
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

ion-icon {
	position: relative;
	top: 3px;
	padding-right: 10px;
	size: 3rem;
}

.container {
	padding: 11px 20px;

	h2 {
		margin: 0;
		font-size: 1.35rem;
		color: var(--text-black);
		padding: 13px 0;
	}

	p {
		margin: 0;
		font-size: .95rem;
		margin-bottom: 22px;
	}
}

.button.btn {
	margin: 0;
	--border-radius: 10px !important;

	&.signout {
		--background: #ff452c !important;

	}

	&.profile {
		--background: #3b45c1 !important;

	}
}