<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ title | translate}} </ion-title>
	</ion-toolbar>
	<div class="banner">
		
	</div>
</ion-header>
<ion-content>
	<div class="container">
		<img src="assets/images/logo_header.png">
		<h2>HURE Mobile employee self-service.</h2>
		<p>
			Sebagai bagian dari IDOOH Solutions, HURE hadir untuk membantu dalam mengelola sistem Human Resource di perusahaan anda.
			HURE dapat digunakan melalui aplikasi berbasis web dan mobile baik Android maupun Ios. 
		</p>
		<p>
			Fitur unggulan HURE mulai dari Mobile Attendance, Employee Self Service meliputi
			Employee Leave Request, Employee Overtime Request, Reibusment dan banyak lagi lainnya.
		</p>
		<p>
			Untuk melayani sesuai kebutuhan UMKM maupun perusahaan besar, HURE tersedia dalam beragam jenis paket antara lain : Paket berlangganan, Paket Custom Enterprise. 
		</p>
		<p>			
			Untuk keterangan lebih lanjut silahkan hubungi team marketing kami, atau kunjungi https://hure.co.id
		</p>
		<img src="assets/images/hure_banner.jpg">
	</div>
</ion-content>