<ion-tabs #tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="blogs">
			<img src="assets/images/ic_feeds.png" class="before">
			<img src="assets/images/ic_feeds_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="chats">
			<img src="assets/images/ic_chats.png" class="before">
			<img src="assets/images/ic_chats_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="home">
			<img src="assets/images/ic_home.png" class="before">
			<img src="assets/images/ic_home_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="notification">
			<img src="assets/images/ic_notif.png" class="before">
			<img src="assets/images/ic_notif_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="account">
			<img src="assets/images/ic_profile.png" class="before">
			<img src="assets/images/ic_profile_active.png" class="after">
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>
