<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Profile Information</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner ion-text-center">
		<div class="profile_container">
			<ion-row>
				<ion-col size="3">
					<div class="icon_box">
					</div>
				</ion-col>

				<ion-col size="6">
					<div class="profile_img center_img" (click)="changeAvatar()">
						<img [src]="photo || 'assets/images/user.png'" class="">
					</div>
				</ion-col>
				
				<ion-col size="3">
					<div class="icon_box">
					</div>
				</ion-col>
			</ion-row>
		</div>
	</div>

	<form [formGroup]="form">

		<div class="form">
			<ion-list lines="none">

				<ion-item lines="none">
					<ion-label position="stacked">{{'username' | translate}}</ion-label>
					<ion-input [value]="this.selected.employee.userName" disabled></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label position="stacked">{{'first_name' | translate}}</ion-label>
					<ion-input placeholder="{{'first_name' | translate}}" type="string" formControlName="firstName" readonly></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label position="stacked">{{'middle_name' | translate}}</ion-label>
					<ion-input placeholder="{{'middle_name' | translate}}" type="string" formControlName="middleName" readonly></ion-input>
				</ion-item>
				
				<ion-item lines="none">
					<ion-label position="stacked">{{'last_name' | translate}}</ion-label>
					<ion-input placeholder="{{'last_name' | translate}}" type="string" formControlName="lastName" readonly></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="stacked">{{'birth_place' | translate}}</ion-label>
					<ion-input placeholder="{{'birth_place' | translate}}" formControlName="birthPlace" readonly></ion-input>
				</ion-item>
	
				<ion-item>
					<ion-label position="stacked">{{'birth_date' | translate}}</ion-label>
					<ion-datetime readonly displayFormat="DD MMM, YYYY" formControlName="birthDate" placeholder="{{'select_your_date_of_birth' | translate}}"></ion-datetime>
				</ion-item>

				<ion-item lines="none">
					<ion-label position="stacked">{{'Email' | translate}}</ion-label>
					<ion-input placeholder="{{'Email' | translate}}" formControlName="email" readonly></ion-input>
				</ion-item>

				<ion-item lines="none">
					<ion-label position="stacked">{{'Phone' | translate}}</ion-label>
					<ion-input placeholder="{{'Phone' | translate}}" formControlName="phone" readonly></ion-input>
				</ion-item>
	
				<ion-item lines="none">
					<ion-label position="stacked">{{'address' | translate}}</ion-label>
					<ion-textarea rows="4" placeholder="Street" type="text" [value]="selected.employee.address" readonly></ion-textarea>
				</ion-item>

				<div class="ion-padding">
					<div style="padding-bottom: 10px;">
						<ion-button
							size="large" 
							class="btn block change-password"
							(click)="changePassword()">
							{{'change_password' | translate}}
						</ion-button>
					</div>
				</div>
			</ion-list>
		</div>
	</form>

</ion-content>