ion-content.bg_img {
	border-radius: 10px;//10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0px 17px 13px -10px rgb(0 0 0 / 10%);
}

.banner {
	width: 100px;
	margin: 5% auto 5% auto;
}

.form {
	position: relative;
	z-index: 99;
	padding-top: 26px;

	ion-list {
		padding-top: 25px;
	}

	h2 {
		margin: 0;
		color: var(--text-dark);
		font-size: 1.4rem;
		padding-bottom: 30px;

	}

	h3 {
		margin: 0;
		color: var(--text-light);
		font-weight: 400;
		font-size: 1rem;
		margin-top: 20px;

	}
}

ion-footer {
	background: var(--white);

	h4 {
		margin: 0;
		color: var(--text-dark);
		font-size: 1.35rem;
		padding-bottom: 30px;
	}

	ion-row {
		ion-col {
			padding: 0 !important;

			.button.btn {
				margin: 0;

				&.google {
					--background: #ff452c !important;

				}

				&.fb {
					--background: #3b45c1 !important;

				}
			}
		}
	}
}

.button.btn {
	margin: 0;
	--border-radius: 10px !important;

	&.change-password {
		--background: #ff452c !important;

	}

	&.update {
		--background: #3b45c1 !important;

	}
}
